server:
  port: 8088
spring:
  application:
    name: product-service
  cloud:
    nacos:
      discovery:
        username: nacos
        password: nacos
        server-addr: 43.138.208.107:8846
        namespace: public